* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

html, body {
    width: 100%;
}

/* Phone */
/* General */
body {
    background-color: hsl(210, 46%, 95%);
}

.title {
    margin-bottom: auto;
    text-align: center;
    margin-top: 20px;
}

.box {
    padding: 40px;
}

.header {
    display: flex;
    flex-direction: row;
}

.profile-pict {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    margin-left: 10px;
}

.testimonial, .story {
    padding-top: 20px;
}

.testimonial {
    font-size: 19px;
}

.story {
    font-size: 13px;
}

/* Main */
/* Daniel Clifford */
.first-testi {
    background-image: url('bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: hsl(263, 55%, 52%);
    border: 1px solid hsl(263, 55%, 52%);
    border-radius: 15px;
    margin: 50px 20px 20px 20px;
}
.first-testi .name {
    color: white;
}
.first-testi .type {
    color: white;
    opacity: 0.5;
}
.first-testi .testimonial {
    color: white;
}
.first-testi .story {
    color: white;
    opacity: 0.7;
}


/* Jonathan Walters */
.second-testi {
    background-color: hsl(217, 19%, 35%);
    border-radius: 15px;
    margin: 50px 20px 20px 20px;
}
.second-testi .name {
    color: white;
}
.second-testi .type {
    color: white;
    opacity: 0.5;
}
.second-testi .testimonial {
    color: white;
}
.second-testi .story {
    color: white;
    opacity: 0.7;
}

/* Jeanette Harmon */
.third-testi {
    background-color: white;
    border-radius: 15px;
    margin: 50px 20px 20px 20px;
}
.third-testi .name {
    color: hsl(219, 29%, 14%);
}
.third-testi .type {
    color: hsl(219, 29%, 14%);
    opacity: 0.5;
}
.third-testi .testimonial {
    color: hsl(219, 29%, 14%);
}
.third-testi .story {
    color: hsl(219, 29%, 14%);
    opacity: 0.7;
}

/* Patrick Abrams */
.fourth-testi {
    background-color: hsl(219, 29%, 14%);
    border-radius: 15px;
    margin: 50px 20px 20px 20px;
}

.fourth-testi .name {
    color: white;
}
.fourth-testi .type {
    color: white;
    opacity: 0.5;
}
.fourth-testi .testimonial {
    color: white;
}
.fourth-testi .story {
    color: white;
    opacity: 0.7;
}

/* Kira Whittle */
.fifth-testi {
    background-color: white;
    border-radius: 15px;
    margin: 50px 20px 20px 20px;
}

.fifth-testi .name {
    color: hsl(219, 29%, 14%);
}
.fifth-testi .type {
    color: hsl(219, 29%, 14%);
    opacity: 0.5;
}
.fifth-testi .testimonial {
    color: hsl(219, 29%, 14%);
}
.fifth-testi .story {
    color: hsl(219, 29%, 14%);
    opacity: 0.7;
}

/* Footer */
.watermark {
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Desktop */
@media screen and (min-width:768px) {
/* General */
.container {
    display: grid;
    grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 40px 300px;
}

.testimonial {
    font-size: 20px;
}


/* Main (testimonial) */

/* Daniel Clifford */
.first-testi {
    grid-area: daniel;
    margin: 0;
}

/* Jonathan Walters */
.second-testi {
    grid-area: jonathan;
    margin: 0;
}


/* Jeanette Harmon */
.third-testi {
    grid-area: jeanette;
    margin: 0;
}

/* Patrick Abrams */
.fourth-testi {
    grid-area: patrick;
    margin: 0;
}

/* Kira Whittle */
.fifth-testi {
    grid-area: kira;
    margin: 0;
}

/* Footer */
.watermark {
    margin-top: 20px;
    }

}

