* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

html, body {
    width: 100%;
}

/* Desktop */

/* General */
body {
    background-color: hsl(210, 46%, 95%);
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.container {
    display: grid;
    grid-template-areas:
    "daniel daniel jonathan kira"
    "jeanette patrick patrick kira";
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 40px 200px;
}

.box {
    padding: 40px;
}

.header {
    display: flex;
    flex-direction: row;
}

.profile-pict {
    border-radius: 50px;
    width: 40px;
    height: 40px;
}
.profile {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    margin-left: 10px;
}

.testimonial, .story {
    padding-top: 20px;
}

.testimonial {
    font-size: 20px;
}

.story {
    font-size: 13px;
}


/* Main (testimonial) */

/* Daniel Clifford */
.first-testi {
    background-image: url('bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: hsl(263, 55%, 52%);
    border: 1px solid hsl(263, 55%, 52%);
    border-radius: 15px;
    grid-area: daniel;
}

.first-testi .name {
    color: white;
}
.first-testi .type {
    color: white;
    opacity: 0.5;
}
.first-testi .testimonial {
    color: white;
}
.first-testi .story {
    color: white;
    opacity: 0.7;
}

/* Jonathan Walters */
.second-testi {
    background-color: hsl(217, 19%, 35%);
    border-radius: 15px;
    grid-area: jonathan;
}

.second-testi .name {
    color: white;
}
.second-testi .type {
    color: white;
    opacity: 0.5;
}
.second-testi .testimonial {
    color: white;
}
.second-testi .story {
    color: white;
    opacity: 0.7;
}

/* Jeanette Harmon */
.third-testi {
    background-color: white;
    border-radius: 15px;
    grid-area: jeanette;
}
.third-testi .name {
    color: hsl(219, 29%, 14%);
}
.third-testi .type {
    color: hsl(219, 29%, 14%);
    opacity: 0.5;
}
.third-testi .testimonial {
    color: hsl(219, 29%, 14%);
}
.third-testi .story {
    color: hsl(219, 29%, 14%);
    opacity: 0.7;
}

/* Patrick Abrams */
.fourth-testi {
    background-color: hsl(219, 29%, 14%);
    border-radius: 15px;
    grid-area: patrick;
}
.fourth-testi .name {
    color: white;
}
.fourth-testi .type {
    color: white;
    opacity: 0.5;
}
.fourth-testi .testimonial {
    color: white;
}
.fourth-testi .story {
    color: white;
    opacity: 0.7;
}

/* Kira Whittle */
.fifth-testi {
    background-color: white;
    border-radius: 15px;
    grid-area: kira;
}
.fifth-testi .name {
    color: hsl(219, 29%, 14%);
}
.fifth-testi .type {
    color: hsl(219, 29%, 14%);
    opacity: 0.5;
}
.fifth-testi .testimonial {
    color: hsl(219, 29%, 14%);
}
.fifth-testi .story {
    color: hsl(219, 29%, 14%);
    opacity: 0.7;
}

/* Footer */
.watermark {
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* Phone */
@media screen and (max-width:600px) {
    .title {
        margin-bottom: auto;
    }

    .box {
        padding: 40px;
    }

    .header {
        display: flex;
        flex-direction: row;
    }

    .profile-pict {
        border-radius: 50px;
        width: 40px;
        height: 40px;
    }
    .profile {
        display: flex;
        flex-direction: column;
        margin-top: 1px;
        margin-left: 10px;
    }

    .testimonial, .story {
        padding-top: 20px;
    }

    .testimonial {
        font-size: 19px;
    }

    .story {
        font-size: 13px;
    }
    
    /* Daniel Clifford */
    .first-testi {
        margin-top: 50px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }


    /* Jonathan Walters */
    .second-testi {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }

    /* Jeanette Harmon */
    .third-testi {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    

    /* Patrick Abrams */
    .fourth-testi {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }
    

    /* Kira Whittle */
    .fifth-testi {
        margin-top: 30px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }

    /* Footer */
    .watermark {
        margin-top: 10px;
    }
}